.indicator {
    -fx-skin: "de.jensd.raspi.gpio.controls.indicator.skin.IndicatorSkin";
    -pass-color: yellowgreen;
    -fail-color: gray;
    -indetermined-color: yellow;

    -fx-background-color: linear-gradient(from 0% 15% to 0% 83%,
        -indetermined-color 0%,
        derive(-indetermined-color, -20%) 49%,
        derive(-indetermined-color, -10%) 1000%);
    -fx-background-radius: 1024;

    -fx-shape: "M 0 0 L 0 100 100 100 100 0 Z";

}

.indicator:pass {
    -fx-background-color: linear-gradient(from 0% 15% to 0% 83%,
        -pass-color 0%,
        derive(-pass-color, -20%) 49%,
        derive(-pass-color, -10%) 100%);
}

.indicator:indetermined {
    -fx-background-color: linear-gradient(from 0% 15% to 0% 83%,
        -indetermined-color 0%,
        derive(-indetermined-color, -20%) 49%,
        derive(-indetermined-color, -10%) 1000%);
}

.indicator:fail {
    -fx-background-color: linear-gradient(from 0% 15% to 0% 83%,
        -fail-color 0%,
        derive(-fail-color, -20%) 49%,
        derive(-fail-color, -10%) 1000%);
}

