/* 
    Document   : switchboard
    Created on : 08.08.2013, 22:08:56
    Author     : Lummerland
    Description:
        Purpose of the stylesheet follows.
*/

.root {
    -fx-base: #444444;
    -fx-background: #333333;
    -fx-background-color: -fx-background;
    -fx-text-background-color: #FFFFFF;
    -fx-text-base-color:#FFFFFF;
    -icons-color: gray;
}

.awesome{
    -fx-font-family:  FontAwesome;
    -fx-text-fill: -icons-color;
}

.button, .toggle-button{
    -fx-background-color: 
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#b9b9b9 0%, #c2c2c2 20%, #afafaf 80%, #c8c8c8 100%),
        linear-gradient(#f5f5f5 0%, #dbdbdb 50%, #cacaca 51%, #d7d7d7 80%);
    -fx-background-insets: 0,1,10,11;
    -fx-background-radius:40,40,30;
    -fx-padding: 15 30 15 30;
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.button:pressed, .toggle-button:pressed{
    -icons-color: linear-gradient(olivedrab, yellowgreen, olivedrab);
    -fx-background-color: 
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(olivedrab, yellowgreen, olivedrab),
        linear-gradient(#f5f5f5 0%, #ababab 50%, #aaaaaa 51%, #d7d7d7 90%);
    -fx-background-insets: 0,1,10;
}

.button .text, .toggle-button .text{
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}


.toggle-button:selected{
    -icons-color: olivedrab;
    -fx-background-color: 
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(olivedrab, yellowgreen, olivedrab),
        linear-gradient(#f5f5f5 0%, #ababab 50%, #aaaaaa 51%, #d7d7d7 90%);
    -fx-background-insets: 0,1,10;
}

.button-control{
    -icons-color: gray;
}

.button-exit{
    -icons-color: orangered;
}

.button-exit:pressed{
    -icons-color: linear-gradient(firebrick, orangered, firebrick);
    -fx-background-color: 
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(firebrick, orangered, firebrick),
        linear-gradient(#f5f5f5 0%, #ababab 50%, #aaaaaa 51%, #d7d7d7 90%);
    -fx-background-insets: 0,1,10;
}
.demo-button{
    -fx-shape: "M 100, 100  m -75, 0 a 75,75 0 1,0 150,0 a 75,75 0 1,0 -150,0";
}

.title{
    -fx-font-family: Droid;
    -fx-font-size: 4em;
    -fx-font-weight: normal;
    -fx-fill:  #333333;
}

